terratowns_endpoint="https://terratowns.cloud/api"
bucket_name="default-terratowns-s3bucket-121245457878"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version=1
assets_path="/workspace/terraform-beginner-bootcamp-2023/public/assets"
bucket_name="bu1k499uzbvubu7hikse9urbppgg6g1s"