# DO NOT PUT SENSITIVE INFO.

user_uuid="812b1b97-ef1d-4b8c-86c8-f211dafcaca2"
bucket_name="bu1k499uzbvubu7hikse9urbppgg6g1s"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version=1